{% assign current = rg-addon-option.selected_or_first_available_variant %}
<div class="option-wrapper">
  <div class="flexx align-center justify-between">
    <a class="{% if current.available or anchor %}upsell-buttons{% else %}soldOut-tings{% endif %} add-on-bttnnn"
       {% if current.available and anchor != true %}
       data-id="{{ current.id }}"
       data-pricce="{{ current.price }}"
       data-currency="{{ cart.currency.symbol }}"
       data-code="{{ code | escape }}_{{ title | escape }}"
       {% endif %}
       data-pop="customhandle-b{{- link | escape -}}"
       >{{ title | escape }}</a>
    {% unless anchor %}
    {% render 'rg-product-price', variant: current, product: rg-addon-option, dont_show_price: show_price %}
    {% endunless %}
  </div>
  {{ desc }}
</div>
